{% extends "base.html" %}

{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block css %}
{{ form.media }}
<style type="text/css">
img {
  margin-left: 10px;
  padding:0px;
}
.col1 {
  width: 310px;
  border:0px solid red;
}
.col2 {
  width: 300px;
  padding-left:10px;
  border:0px solid red;
}
.col3 {
}
.save {
  padding: 20px;
}
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript">
jQuery.fn.toHtmlString = function () {
	return $('<div><\/div>').html($(this).eq(0).clone()).html();
}

jQuery.fn.clearByReplacing = function () {
	var el = $(this);
	el.replaceWith(el.toHtmlString());
}
var is_form_processing = false;

$(document).ready(function() {
    var options = {
        data: 			{ is_ajax: '1' },
        dataType:      	'json',
        beforeSubmit:  	onRequest,
        success:      	onResponse
    };
    $('#form-edit').ajaxForm(options);
});

// pre-submit callback
function onRequest(formData, jqForm, options) {
	if(is_form_processing)
		return false;

    // disable form elements
    $('input[type=text]').attr('disabled', true).attr('readonly', true);
    $('input[type=submit]').attr('disabled', true).attr('readonly', true);
    $('input[type=file]').attr('disabled', true).attr('readonly', true);
    $('textarea').attr('disabled', true).attr('readonly', true);

	// disable form submitting
	is_form_processing = true;

	// remove prev. errors messages
	$("ul.errorlist").remove();

	// update status
	$('#p-message-ok').text('Updating...');

    return true;
}

// post-submit callback
function onResponse(data, form) {
	// enable form submitting
	is_form_processing = false;

	//alert(data.valid);
	var status = data.valid;


	if (status) {
		// update status
		$('#p-message-ok').text('Changes have been saved.');

		// clear file input
		$('#id_photo').clearByReplacing();

		// update photo url
		if($('#img-photo').attr('src') != data.img_url) {
			$('#img-photo').attr('src', data.img_url);
		}
	}
	else {
		// update status
		$('#p-message-ok').text('Opps, some form values errors have been found.');
		if(data.errors !== undefined) {
			$.each(data.errors, function(key, val)  {
				// form errors
				if(key == '__all__') {
					$("div.col1").before('<ul class="errorlist"><li>' + val + '<\/li><\/ul>');
				}
				// form field errors
				else {
					$('#'+key, "#form-edit").after('<ul class="errorlist"><li>' + val + '<\/li><\/ul>');
				}
				// clear file input
				if(key == 'id_photo') {
					$('#id_photo').clearByReplacing();
				}
			});
		}
	}

  // enable form elements
    $('input[type=text]').attr('disabled', false).attr('readonly', false);
    $('input[type=submit]').attr('disabled', false).attr('readonly', false);
    $('input[type=file]').attr('disabled', false).attr('readonly', false);
    $('textarea').attr('disabled', false).attr('readonly', false);

}
</script>
{% endblock %}


{% block content %}
<div class="layout">
	<div class="header">
		<h1>42 Coffee Cups Test Assignment</h1>
	</div>

	<form id="form-edit" enctype="multipart/form-data" method="post" action=".">
	{% csrf_token %}
	{{ form.non_field_errors }}

	<div class="col1">
		<div id='b1' style='text-align: right; width:310px;'>
			<p>{{ form.name.label_tag }}: {{ form.name }}</p>{{ form.name.errors }}
			<p>{{ form.last_name.label_tag }}: {{ form.last_name }}</p>{{ form.last_name.errors }}
			<p>{{ form.date_of_birth.label_tag }}: {{ form.date_of_birth }}</p>{{ form.date_of_birth.errors }}
			<p>{{ form.photo.label_tag }}: {{ form.photo }}</p>{{ form.photo.errors }}
			<p>{% if form.photo.value %}<img id="img-photo" width="280" alt="Photo preview" src="{{ MEDIA_URL }}{{ form.photo.value }}">{% endif %}</p>
		</div>
	</div>

	<div class="col2">
		<div id='b2' style='text-align: right; width:250px;'>
			<p>{{ form.email.label_tag }}: {{ form.email }}</p>{{ form.email.errors }}
			<p>{{ form.jabber.label_tag }}: {{ form.jabber }}</p>{{ form.jabber.errors }}
			<p>{{ form.skype.label_tag }}: {{ form.skype }}</p>{{ form.skype.errors }}
		</div>
		<div id='b3' style='text-align: left; width:350px;'>
			<p>{{ form.other_contacts.label_tag }}:</p>
			{{ form.other_contacts.errors }}
			{{ form.other_contacts }}<br>
			<p>{{ form.bio.label_tag }}:</p>
			{{ form.bio.label_tag.errors }}
			{{ form.bio }}<br>
		</div>
	</div>

	<div class="clear save">
		<input id="button-submit" type="submit" value="Save" title="Save" name="Save"> <a href='{% url home %}'>Cancel</a>
	</div>
	</form>

	<div id='result'><p id="p-message-ok"></p></div>

	<div class="footer">
		<hr>
		<a href='{% url requests %}'>requests</a>
	</div>

</div>
{% endblock content %}
