{% extends "base.html" %}

{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block content %}
<h3>42 Coffee Cups Test Assignment</h3>

<style type="text/css">
label { font-weight: bold; }
</style>
<table border="0" cellpadding="0" cellspacing="0">
    <tr valign='top'>
        <td width="300">
            <p><label>Name:</label> {{ user_info.name }}</p>
            <p><label>Last Name:</label> {{ user_info.last_name }}</p>
            <p><label>Date of birth:</label> {{ user_info.date_of_birth }}</p>
            <p><label>Bio:</label><br>
            {{ user_info.bio|linebreaksbr }}</p>
        </td>
        <td width="300">
            <p><label>Contacts</label></p>
            <p><label>Email:</label> {{ user_info.email }}</p>
            <p><label>Jabber:</label> {{ user_info.jabber }}</p>
            <p><label>Skype:</label> {{ user_info.skype }}</p>
            <p><label>Other contacts:</label><br>
            {{ user_info.other_contacts|linebreaksbr }}</p>
        </td>
    </tr>
</table>

<a href='/requests/'>{% url requests %}</a>
{% endblock content %}
