{% extends "base.html" %}

{% block title %}Login | 42 Coffee Cups Test Assignment{% endblock %}

{% block css %}
<style type="text/css">
#btn-submit {
  width: 180px;
  height: 30px;
  margin: 10px;
}
#p-error {
  width: 200px;
}
</style>
{% endblock %}

{% block content %}
<div class="layout">
  <div class="header">
    <h1>Login</h1>
  </div>

  {% if form.errors %}
  <p id='p-error'>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url django.contrib.auth.views.login %}">
  {% csrf_token %}
  <table border="0" cellpadding="0" cellspacing="0">
  <tr>
      <td><p>{{ form.username.label_tag }}</p></td>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td><p>{{ form.password.label_tag }}</p></td>
      <td>{{ form.password }}</td>
  </tr>
  <tr>
      <td colspan=2 align='center'>
        <input type="submit" value="login" id='btn-submit'/>
        <input type="hidden" name="next" value="{{ next }}" />
      </td>
  </tr>
  </table>
  </form>

  <div class="footer">
    <hr>
    <a href='{% url home %}'>Home</a>
  </div>
</div>
{% endblock %}