{% extends "base.html" %}

{% block title %}Last 10 http requests{% endblock %}

{% block css %}
<style type="text/css">
.list {
  margin: 10px;
  padding:10px;
}
</style>
{% endblock %}

{% block content %}
<div class="layout">
  <div class="header">
    <h1>Last 10 http requests</h1>
  </div>

  <table border="0" cellpadding="0" cellspacing="0" class="list">
    <tr>
      <th width="50">id</th>
      <th width="200">date</th>
      <th width="200">path</th>
      <th width="50">method</th>
    </tr>
    {% for item in request_list %}
    <tr valign='top'>
      <td width="50">{{ item.id }}</td>
      <td width="200">{{ item.date }}</td>
      <td width="200">{{ item.path }}</td>
      <td width="50">{% if item.is_get %}GET{% else %}POST{% endif %}</td>
    </tr>
    {% endfor %}
  </table>

  <div class="footer">
    <hr>
    <a href='{% url home %}'>Home</a>
  </div>

</div>

{% endblock content %}